body {
  background-color: tan;
}
.container  {
  margin: 10px auto;
  height: 650px;
  width: 800px;
  border-radius: 25px;
  border: 2px solid green;
}

.quesImages img {
  margin: 0;
  height: 350px;
  width: 500px;
  float: left;
}
.titleArea  {
  background-color: beige;
  margin: 0;
  border-radius: 22px 0 0 22px;
  height: 650px;
  width: 150px;
  float: left;
}
.progressArea  {
  background-color: beige;
  margin: 0;
  border-radius: 0 22px 22px 0;
  height: 650px;
  width: 150px;
  float: right;
}
.answerArea  {
  background-color: lightgrey;
  margin: 0;
  height: 300px;
  width: 500px;
  float: left;
}
.titleText,
.quesTitle  {
  margin-left: 10px;
  /*color: white;*/
  text-shadow:1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    4px 4px 3px darkgrey;
  font-family:Verdana, Geneva, sans-serif;
}
.progressList  {
  list-style: none;
  padding-left: 55px;
}
.quesTitle  {
  text-align: center;
  font-size: 23px;
}
.numbers  {
  margin-bottom: 25px;
  font-size: 75px;
  font-family:Verdana, Geneva, sans-serif;
}
// Question Images
#quesOne {
  display: inline;
}
#quesTwo  {
  display: none;
}
#quesThree  {
  display: none;
}
#quesFour  {
  display: none;
}
#quesFive  {
  display: none;
}
// Progress  numbers
#li1  {
  display: block;
}
#li2  {
  display: none;
}
#li3  {
  display: none;
}
#li4  {
  display: none;
}
#li5  {
  display: none;
}
.answerArea h2 {
  padding-left: 120px;
  margin-bottom: 20px;
  font-family: sans-serif;;
}
.inputForm  {
  padding-left: 210px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 300;
}
.answerItem  {
  margin-bottom: 10px;
}
.submitButton  {
  padding-left: 190px;
}
#submitAns  {
  font-size: 30px;
  width: 150px;
  margin-top: 12px;
}
