body {
  background-color: tan;
}
.container  {
  margin: 10px auto;
  height: 650px;
  width: 800px;
  border-radius: 25px;
  border: 2px solid white;
}
.leafImages img {
  margin: 0;
  height: 350px;
  width: 500px;
  float: left;
}
.titleArea  {
  background-color: beige;
  margin: 0;
  border-radius: 22px 0 0 22px;
  height: 650px;
  width: 150px;
  float: left;
}
.progressArea  {
  background-color: beige;
  margin: 0;
  border-radius: 0 22px 22px 0;
  height: 650px;
  width: 150px;
  float: right;
}
.answerArea  {
  background-color: lightgrey;
  margin: 0;
  height: 300px;
  width: 500px;
  float: left;
}
.titleText,
.quesTitle  {
  margin-left: 10px;
  /*color: white;*/
  text-shadow:1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    4px 4px 3px darkgrey;
  font-family:Verdana, Geneva, sans-serif;
}
.progressList  {
  list-style: none;
  padding-left: 60px;
}
.quesTitle  {
  /*text-align: center;*/
  font-size: 23px;
}
.numbers  {
  margin-bottom: 25px;
  font-size: 75px;
  font-family:  monospace;
}
